body{
   background-image: url(pattern.jpg);
   margin: 0px;
}
header{
   background-color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   top: 0px;
   left: 0px;
   right: 0px;
}
li{
   display: inline;
   margin-right: 30px;
}
a{
   text-decoration: none;
}
main{
   background-color: white;
   margin: 150px 200px 200px;
   padding: 10px;
}
h1{
   text-align: center;
}
article{
   border-bottom: 1px solid;
   margin-top: 20px;
}
footer{
   background-color: white;
   padding: 8px;
}
p.foot{
   text-align: center;
}